.equalizerBlock{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width:150px;
  height:450px;
  background: beige;
  margin-right:0.5% ;
  box-sizing: border-box;

  .equalizer{
    height: 90%;
    width: 100%;
    position: relative;
  }

  .equalizerBg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: radial-gradient(circle, rgba(145,63,251,1) 0%, rgba(252,192,70,1) 100%);
    border-radius: 4px;
  }

  .regularEqualaizer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }


}

